* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bodyform {
    width: 250px;
    height: 350px;
    background-color: aqua;
    float: left;
    margin-top: 50px;
    margin-left: 100px;
}



.body {
    width: 250px;
    height: 300px;
    float: left;
    background-color: blue;
}

.body-button {
    width: 250px;
    height: 50px;
    background-color: aqua;

}



.bodytop {
    width: 250px;
    height: 300px;
    float: left;
    background-color: red;
}

button {
    width: 125px;
    height: 50px;
    float: left;
}